.mplayer-poster {
	opacity: 1;
}

.mplayer-pe-none {
	pointer-events: none;
}
.mplayer-pe-auto {
	pointer-events: auto;
}

.mplayer-overlay {
	background: rgba(0, 0, 0, 0.6);
}

.mplayer-pointer {
	cursor: pointer;
}

.mplayer-absolute {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.mplayer-layer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	div:first-child {
		height: 100%;
	}
	button,
	a {
		pointer-events: auto;
	}
}
