.mplayer-progressbar-outer {
	padding: 0px 0px;
	// height: 7px;
	width: 100%;
	border-left: solid 4px rgba(255, 255, 255, 0);
	border-right: solid 4px rgba(255, 255, 255, 0);
	transition: width 220ms ease-in;
	div {
		pointer-events: none;
	}
}
.mplayer-progressbar {
	position: relative;
	width: 100%;
	background: rgba(255, 255, 255, 0.4);
	transition: width 0.3s ease;
}

/*
Height
*/

.mplayer-progressbar-outer,
.mplayer-progressbar-inner {
	height: 5px;
	transition: height 100ms ease-in;
}

.mplayer-progressbar-over,
.mplayer-progressbar-over .mplayer-progressbar-inner {
	height: 9px;
	margin-bottom: -1px;
	transition: all 150ms ease-in;
}

.mplayer-progressbar-rounded {
	.mplayer-progressbar,
	.mplayer-progressbar-inner {
		border-radius: 4px;
	}
}

// .mplayer-progressbar-outer {
// 	padding: 0px 0px;
// 	height: 7px;
// 	width: 100%;
// 	border-left: solid 4px rgba(255, 255, 255, 0);
// 	border-right: solid 4px rgba(255, 255, 255, 0);
// 	transition: width 220ms ease-in;
// }

// .mplayer-progressbar {
// 	position: relative;
// 	width: 100%;
// 	background: rgba(255, 255, 255, 0.4);
// 	transition: width 200ms ease-in;
// }
// .mplayer-progressbar-inner {
// 	height: 7px;
// 	width: 500px;
// 	transition: height 100ms ease-in;
// }

// .mplayer-progressbar-over,
// .mplayer-progressbar-over .mplayer-progressbar-inner {
// 	height: 11px;
// 	margin-bottom: -2px;
// 	transition: all 50ms ease-in;
// }

// .mplayer-progressbar-rounded {
// 	.mplayer-progressbar,
// 	.mplayer-progressbar-inner {
// 		border-radius: 4px;
// 	}
// }
