div.notice {
  display: none;
}
#wpcontent,
#wpfooter {
  margin-left: 140px;
}
body,
#wpbody-content {
  background: #ffffff !important;
}
#adminmenuwrap {
  z-index: 200 !important;
}
#wpadminbar {
  z-index: 201;
}
#wpfooter,
.update-nag {
  display: none;
}

@media only screen and (max-width: 960px) {
  .auto-fold #wpcontent,
  .auto-fold #wpfooter {
    margin-left: 16px;
  }
}

@media only screen and (max-width: 782px) {
  .auto-fold #wpcontent,
  .auto-fold #wpfooter {
    margin-left: 0px;
    padding-left: 0px;
  }
}

// .v-application--wrap {
#wpbody-content {
  input[type='color']:focus,
  input[type='date']:focus,
  input[type='datetime-local']:focus,
  input[type='datetime']:focus,
  input[type='email']:focus,
  input[type='month']:focus,
  input[type='number']:focus,
  input[type='password']:focus,
  input[type='search']:focus,
  input[type='tel']:focus,
  input[type='text']:focus,
  input[type='time']:focus,
  input[type='url']:focus,
  input[type='week']:focus,
  input,
  select,
  textarea input[type='color'],
  input[type='date'],
  input[type='datetime-local'],
  input[type='datetime'],
  input[type='email'],
  input[type='month'],
  input[type='number'],
  input[type='password'],
  input[type='search'],
  input[type='tel'],
  input[type='text'],
  input[type='time'],
  input[type='url'],
  input[type='week'],
  input,
  select,
  textarea {
    box-shadow: none !important;
    border: 0px rgba(255, 255, 255, 0) solid !important;
  }
}

input[type='text'],
input[type='text']:focus {
  border: 10px solid #ffffff !important;
  box-shadow: none;
}
